[submodule "tooling/everything-claude-code"]
	path = tooling/everything-claude-code
	url = https://github.com/worldflowai/everything-claude-code.git
[submodule "tooling/insight-weaver"]
	path = tooling/insight-weaver
	url = https://github.com/Venkat-023/Insight-Weaver.git
[submodule "tooling/truth-seeker"]
	path = tooling/truth-seeker
	url = https://github.com/aniketDash7/truth-seeker.git
[submodule "tooling/lightrag"]
	path = tooling/lightrag
	url = https://github.com/HKUDS/LightRAG.git
